@media screen and (min-width: 900px) {
  .header {
    padding: 2rem 0 4rem 0;
  }
  .footer {
    display: flex;
    justify-content: flex-end;
  }

  .container {
    min-width: 1440px;
  }
  .middle {
    display: flex;
  }

  body {
    background-image: url(/images/bg-desktop.svg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .card-text {
    min-width: 700px;
    padding: 4rem;
    p {
      margin-bottom: 2rem;
    }
  }
  .footer {
    img {
      margin: 1rem;
    }
  }
}
